<title>dashboard</title>
<a href="/admin/dashboard/add_task">Add task</a>
<a href="/admin/dashboard/add_user">Add user</a>
<a href="/admin/dashboard/manage_user">Manage user</a>
<a href="/admin/dashboard/view_task">View task</a>