<title>dashboard</title>





<ul>
    <li>
        <a href="/admin/dashboard/add_product">Add product</a>
    </li>
    <li>
        <a href="/admin/dashboard/view_product">View product</a>  
    </li>
    <li>
        <a href="/admin/dashboard/manage_order">Manage order</a>
    </li>
    <li>
        <a href="/admin/dashboard/view_income">View income</a>
    </li>
</ul>